// Fonts
$font-primary: "Nunito", sans-serif;

// Colors
$light: #eee;
$dark: #000;
$light-middle: #b6b6b6;

$selected: #80c0fe;
$correct: #80fed2;
$incorrect: #fe8080;

$button-bg: #c3e2ff;
$button-bg-disabled: #d9e9ff;
$button-bg-hover: #9ec4e8;
$button-bg-active: #7a9ec1;

$letter: #6813de;
$letter-bg:rgba(104, 19, 222, 0.2);
$letter-correct: #00905d;
$letter-correct-bg: rgba(4, 107, 57, 0.2);
$letter-incorrect: #890000;
$letter-incorrect-bg: rgba(172, 0, 0, 0.2);